.table {
    display: flex;
    flex-direction: column;
}

.table-content > div:nth-of-type(even){
    background-color: rgb(177, 205, 238);
}

.table-content > div:nth-of-type(odd){
    background-color: rgb(183, 183, 204);
}

.table-titles {
    display: flex;
}

.table-line {
    display: flex;
}

.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    border: solid 1px;
    width: 120px;
    font-weight: bolder;
    cursor: pointer;
}

.active-icon {
    color: rgb(136, 136, 204);
}

.inactive-icon {
    display: flex;
    flex-direction: column;
    color: grey;
}

.inactive-icon :nth-child(odd) {
    position: relative;
    top: 4px;
}

.inactive-icon :nth-child(even) {
    position: relative;
    bottom: 4px;
}

p {
    margin: 5px;
}

.table-cell {
    display: flex;
    align-items: center;
    margin: 0px;
    border: solid 1px;
    width: 120px;
}

.tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}