.table {
    display: flex;
    flex-direction: column;
}

.table-titles {
    display: flex;
}

.table-line {
    display: flex;
}

.title {
    display: flex;
    align-items: center;
    margin: 0px;
    border: solid 1px;
    width: 120px;
    font-weight: bolder;
}

p {
    margin: 5px;
}

.table-cell {
    display: flex;
    align-items: center;
    margin: 0px;
    border: solid 1px;
    width: 120px;
}

